<div class="game-container">
    <div class="game-header">
        <div class="header-actions">
            <app-settings-button></app-settings-button>
            <app-restart-game-buttom (restartEvent)="resetGameAction()"></app-restart-game-buttom>
            <app-language-selector></app-language-selector>
        </div>
    </div>
    <div class="game-content">
        <div class="slot-panel">
            <app-roulette-container
                (resetGameEvent)="resetGame()">
            </app-roulette-container>
        </div>
        <div class="trainer-panel">
            <div class="trainer-team">
                <app-trainer-team></app-trainer-team>
            </div>
            <div class="items">
                <app-items (rareCandyInterrupt)="rareCandyInterrupt($event)"></app-items>
            </div>
        </div>
    </div>
</div>
