.title {
    text-align: center;
}

.modal-footer {
    justify-content: center;
}

.modal-body {
    color: #000;
    text-align: center;
}

.modal-body p {
    font-size: medium;
}

.explain-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.message {
    text-align: start;
    cursor: default;
    font-size: 8.6px;
    font-family: "Pokemon GB", Monospace, sans-serif;
    padding: 12px;
    position: relative;
    line-height: 16px;
    background: #fff;
    border: 3px solid #000;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.3);
    user-select: none;
    max-width: 50%;
}
